<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#counter").val() == '0') {
                $("#decreament").prop("disabled", true);
            }

            $("#increament").click(function () {
                let count = $("#counter").val();
                $("#counter").val(Number(count) + 1);
                if (count == '0') {
                    $("#decreament").prop("disabled", false);
                }
            });

            $("#decreament").click(function () {
                let count = $("#counter").val();
                $("#counter").val(Number(count) - 1);
                if (count == '1') {
                    $("#decreament").prop("disabled", true);
                }

            });

        });
    </script>
</head>

<body>
    <div class="container" style="margin-top: 7%; text-align:center">
        <h2>Detail Info</h2>
        <br>
        {{#if data}}
        <div class="row">
            <div class="col-lg-6">
                <img src="/upload/{{data.Pimage}}" width="100%" style="border-radius: 5px; height: 60vh"><br><br>
            </div>
            <div class="col-lg-6">
                <table class="table">
                    <tr>
                        <th style="padding: 30px;">Product Name</th>
                        <td style="padding: 30px;">{{data.Pname}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 30px;">Product Price</th>
                        <td style="padding: 30px;">{{data.Pprice}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 30px;">Product Description</th>
                        <td style="padding: 30px;">{{data.Pdesc}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 30px;">Product Category</th>
                        <td style="padding: 30px;">{{data.Pcategory}}</td>
                    </tr>
                </table>
                <br>
                <form action="cartAction?id={{data.Pid}}" method="POST">
                    <div style="margin-left: 35%">
                        <div class="input-group" style="max-width: 150px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger btn-number" id="decreament">
                                    <span><i class="fa fa-minus" aria-hidden="true"
                                            style="padding-left:5px;"></i></span>
                                </button>
                            </span>
                            <input type="text" name="count" class="form-control input-number" value="1" min="1"
                                max="100" id="counter" style="text-align: center;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-number" id="increament">
                                    <span><i class="fa fa-plus" aria-hidden="true" style="padding-left:5px;"></i></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div style="margin-top: 2%;">
                        <button class="btn btn-primary">Add-To-Cart</button>
                    </div>
                </form>

            </div>
        </div>
        {{/if}}
    </div>
    <br><br>
    <!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3 style="color: yellow; letter-spacing:2px;" id="h3">Food-Ordering-App</h3><br>
                    <p>
                        Online Food Oredering Service<br>
                        Rady To Serve All 24 Hours<br>
                        Eat Healthy Live Healthy<br>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h4 style="color: lightgreen" class="h4">Visit Us</h4><br>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                        <li><a href="http://shubhamgupta98.me">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    <h4 class="h4" style="color:lightblue">Follow Us</h4><br>
                    <a href="#" class="twitter"><i class="fa fa-twitter-square fa-2x footer-icon"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook-square fa-2x footer-icon"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram fa-2x footer-icon"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin-square fa-2x footer-icon"></i></a>
                </div>
            </div>
        </div>
        <p class="text-muted" style="padding-left:200px;">Copyright &copy; <a href="http://shubhamgupta98.me"
                target="_blank">Shubham Gupta</a></p>
    </footer>
</body>

</html>